@tailwind base;
@tailwind components;
@tailwind utilities;


nav a{
    margin: 0 8px;
    font-weight: 400;
}

/* los componentes navlink pone por defecto esat clase a esos links */
.active{
    border-bottom: 2px solid brown;
}

nav a:hover{
    
    border-bottom: 2px solid brown;
}


/* estylos de los mismos items del navbar pero en la SideBarUserProfile */

.navItemsProfile li {
    margin: 0px;
    border: 1px solid black;
    width: 100%;
    margin: 4px 0px;
    padding: 5px 0px;
}


/* Animacion para el CONTENEDOR DEL FORM REGISTER */
#containerFormRegister:hover{
    animation-name: form;
    animation-duration: 5s;
    animation-iteration-count: 1;
    
}
#containerFormSingin:hover{
    animation-name: form;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes form {

    0%{
        border-top: 1px solid blue;
    }
    25%{
        border-right: 1px solid blue;
    }
    50%{
        border-bottom: 1px solid blue ;
    }
    75%{
        border-left: 1px solid blue;
    }
    
}



.transitionHeight{

    transition: height 0.5s ease-in-out;
}







.modal{
    animation-name:animationButton ;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function:  ease-out;
}

.animationLeft{
    animation-name:animationLeft ;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function:  ease-out;
}
.animationRight{
    animation-name:animationRight;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function:  ease-out;
}

.animationTop{
    animation-name:animationTop ;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function:  ease-out;
}

@keyframes animationLeft {

    from{
        transform: translateX(-100%);
    }

    
    
}

@keyframes animationRight {

    from{
        transform: translateX(100%);
    }

   
}


@keyframes animationButton {

    from{
        transform: translateY(100%);
    }

   
    
}


@keyframes animationTop {

    from{
    
        transform: translateY(-100%);
    }

   
    
}

/* modal TOP MAS  LEFT */
@keyframes animationTopLeft {

    from{
    
        transform: translateY(-100%) translateX(-100%);
    }

   
    
}




/* Animation Loading */

.loading{
    
    animation-name: loading;
    animation-duration:1s;
    animation-iteration-count: infinite;
    /* animation-delay: ; */
    animation-direction: alternate-reverse;
    
    
}


@keyframes loading {
    0%{ 
        transform: scale(2.25);
        opacity: 0.8;
        background-color: aqua;
        transform: translateX(-200%);
    }
    33%{
       
        transform: rotate(45deg);
        background-color: brown;
        transform: translateX(200%);
        
        
    }
    66%{
       
        
        transform: rotate(160deg);
        background-color: aqua;
       
    }
    
}
