@import "./css/skeleton.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    text-wrap: pretty;
}


body {
    line-height: 1.5;
}

ul,li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

h1,h2,h3{
    display: flex;
    align-items: center;
}

body{
    padding: 0.5rem;
    
}

section {
    margin-bottom: 0.2rem;
}
label{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
input{
    padding: 0.25rem;
}





/* stylos de navbar */
.active{
    border-bottom: 1px solid green;
}

nav a:hover{
   
    border-bottom: 1px solid ;
}

nav ul{
    padding: 0 0.3rem;
    
}

nav ul li,a,button{
    padding: 0.2em;
    
   
}



/* Animacion para el CONTENEDOR DEL FORM REGISTER */
#containerFormRegister{
    animation-name: form;
    animation-duration: 5s;
    animation-iteration-count: 1;
    
}
#containerFormSingin{
    animation-name: form;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes form {

    0%{
        border-top: 1px solid blue;
    }
    25%{
        border-right: 1px solid blue;
    }
    50%{
        border-bottom: 1px solid blue ;
    }
    75%{
        border-left: 1px solid blue;
    }
    
}



.transitionHeight{

    transition: height 0.5s ease-in-out;
}




.modal{
    animation-name:animationButton ;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    animation-timing-function:  ease-in-out;
    
}



.animationLeft{
    animation-name:animationLeft ;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function:  ease-out;
}
.animationRight{
    animation-name:animationRight;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function:  ease-out;
}

.animationTop{
    animation-name:animationTop ;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function:  ease-out;
}

@keyframes animationLeft {

    from{
        transform: translateX(-100%);
    }

    
    
}

@keyframes animationRight {

    from{
        transform: translateX(100%);
    }

   
}


@keyframes animationButton {

    from{
        transform: translateY(100%);
    }

   
    
}


@keyframes animationTop {

    from{
    
        transform: translateY(-100%);
    }

   
    
}

/* modal TOP MAS  LEFT */
@keyframes animationTopLeft {

    from{
    
        transform: translateY(-100%) translateX(-100%);
    }

   
    
}




/* Animation Loading */

.loading{
    
    animation-name: loading;
    animation-duration:1s;
    animation-iteration-count: infinite;
    /* animation-delay: ; */
    animation-direction: alternate-reverse;
    
    
}


@keyframes loading {
    0%{ 
        transform: scale(2.25);
        opacity: 0.8;
        background-color: aqua;
        transform: translateX(-200%);
    }
    33%{
       
        transform: rotate(45deg);
        background-color: brown;
        transform: translateX(200%);
        
        
    }
    66%{
       
        
        transform: rotate(160deg);
        background-color: aqua;
       
    }
    
}


/* animatio delete product*/


.animationDeleteProduct{
    transition: transform 800ms ease-in-out;
    transform: translateX(-100%);
     animation-name: deleteProduct;
    
    animation-duration: 800ms;
}

@keyframes deleteProduct {

   
    
    from{
        opacity: 1;
        /* transform: translateX(0); */
    }

    to{
        opacity: 0;
        /* transform: translateX(-100%); */
    }
    
}