
/* ESTYLOS PARA EL SQUELETON DE CARGA DE CATEGORIA DE PRODUCTOS */

.skeletonCategoriTitle{
    animation-name: aniVertical;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

}

.skeletonCategoriImage{
    animation-name: aniVertical;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 1.8;

}


@keyframes aniVertical {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }