@tailwind base;
@tailwind components;
@tailwind utilities;


nav a{
    margin: 0 8px;
    font-weight: 400;
}

/* los componentes navlink pone por defecto esat clase a esos links */
.active{
    border-bottom: 2px solid brown;
}

nav a:hover{
    
    border-bottom: 2px solid brown;
}


/* estylos de los mismos items del navbar pero en la SideBarUserProfile */

.navItemsProfile li {
    margin: 0px;
    border: 1px solid black;
    width: 100%;
    margin: 4px 0px;
    padding: 5px 0px;
}


/* Animacion para el CONTENEDOR DEL FORM REGISTER */
#containerFormRegister:hover{
    animation-name: form;
    animation-duration: 5s;
    animation-iteration-count: 1;
    
}
#containerFormSingin:hover{
    animation-name: form;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes form {

    0%{
        border-top: 1px solid blue;
    }
    25%{
        border-right: 1px solid blue;
    }
    50%{
        border-bottom: 1px solid blue ;
    }
    75%{
        border-left: 1px solid blue;
    }
    
}











.modal{
    animation-name:modalButton ;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function:  ease-out;
}

@keyframes modalLeft {

    from{
        transform: translateX(-100%);
    }

    
    
}

@keyframes modalRight {

    from{
        transform: translateX(100%);
    }

   
}


@keyframes modalButton {

    from{
        transform: translateY(100%);
    }

   
    
}

/* modal TOP MAS  LEFT */
@keyframes modalTop {

    from{
    
        transform: translateY(-100%) translateX(-100%);
    }

   
    
}




